HELP.md
.gradle
### STS / IntelliJ 설정 파일 ###
.idea/
*.iml
.classpath
.project
.settings/
bin/

### 빌드 결과물 (가장 용량이 크고 필요 없는 것) ###
target/
build/
out/

### 환경 설정 파일 (DB 비밀번호 포함) ###
src/main/resources/application.properties
# 만약 yml 파일을 쓴다면 아래 줄 추가
# src/main/resources/application.yml

### 기타 로그 파일 ###
*.log